<h1>File and Locations</h1>
<% for(let i = 0; i < files.length; i++) { %>
    <article>
        <a href=<%= files[i].url %>><%= files[i].name %></a>
    </article>
<% } %>
<br>


<h1>Uploading Files</h1>
<a href="/upload">Upload Files</a>